@keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }
  .container {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    border: 1px solid white;
    display: fixed;
    top: 0px;
  }
  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
  }
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }
  
  /* Checkmark */
  .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
  }
  
  .checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00C09D;
    position: absolute;
  }
  
  .checkmark-circle .checkmark {
    border-radius: 5px;
  }
  
  .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: "";
    left: 25px;
    top: 75px;
    position: absolute;
  }
  
  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  .submit-btn {
    height: 45px;
    width: 200px;
    font-size: 15px;
    background-color: #00c09d;
    border: 1px solid #00ab8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
    cursor: pointer;
    transition: all 2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .submit-btn:hover {
    background-color: #2ca893;
    transition: all 0.2s ease-out;
  }

  .js-container{
    margin-top: -20%;
    height: 100vh;
    overflow: hidden;
  }












  


  :root {
    --background: #e1cec3;
    --base: #9d613f;
    --accent: #be8666;
    --shadow: #cda48c;
  }

  /* :root {
    --background: #f3a683;
    --base: #303952;
    --accent: #786fa6;
    --shadow: #e77f67;
  } */
  
  /* html {
    background: var(--background);
    display: grid;
    height: 100%;
    place-items: center;
  } */

/* html {
    background: var(--background);
    display: grid;
    height: 100%;
    place-items: center;
  } */
  
  .cool {
    font: bold 2rem/1.2 sans-serif;
    letter-spacing: 2.5px;
    /* max-width: 20rem; */
    animation:fade-Out 2s;
  }
  .cool span {
    color: var(--shadow);
    display: inline-block;
    position: relative;
  }
  .cool span:nth-child(1)::before, .cool span:nth-child(1)::after {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .cool span:nth-child(2)::before, .cool span:nth-child(2)::after {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .cool span:nth-child(3)::before, .cool span:nth-child(3)::after {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .cool span:nth-child(4)::before, .cool span:nth-child(4)::after {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .cool span:nth-child(5)::before, .cool span:nth-child(5)::after {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .cool span:nth-child(6)::before, .cool span:nth-child(6)::after {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .cool span:nth-child(7)::before, .cool span:nth-child(7)::after {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .cool span:nth-child(8)::before, .cool span:nth-child(8)::after {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .cool span:nth-child(9)::before, .cool span:nth-child(9)::after {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .cool span:nth-child(10)::before, .cool span:nth-child(10)::after {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  @media (prefers-reduced-motion) {
    .cool span {
      color: var(--base);
    }
  }
  .cool span::before {
    -webkit-animation: max-height 1s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
            animation: max-height 1s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
    color: var(--accent);
  }
  .cool span::after {
    -webkit-animation: max-width 2s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
            animation: max-width 2s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
    color: var(--base);
  }
  .cool span::before, .cool span::after {
    content: attr(data-text);
    left: 0;
    overflow: hidden;
    position: absolute;
    speak: none;
  }
  @media (prefers-reduced-motion) {
    .cool span::before, .cool span::after {
      -webkit-animation: none;
              animation: none;
      content: "";
    }
  }
  
  @-webkit-keyframes max-width {
    from {
      max-width: 0;
    }
    to {
      max-width: 100%;
    }
  }
  
  @keyframes max-width {
    from {
      max-width: 0;
    }
    to {
      max-width: 100%;
    }
  }
  @-webkit-keyframes max-height {
    from {
      max-height: 0;
    }
    to {
      max-height: 100%;
    }
  }
  @keyframes max-height {
    from {
      max-height: 0;
    }
    to {
      max-height: 100%;
    }
  }

  @keyframes fade-Out {
    from {
      transform: scale(2);
    }
    to {
      transform: scale(1);
    }
  }